[core]
  excludesfile = ~/.gitignore
  editor = nvim

[user]
  email = me@mbassem.com
  name = MohamedBassem
  signingkey = /Users/mohamedbassem/.ssh/id_rsa.pub

[alias]
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  amend = commit --amend
  st = status -s
  b = "!git for-each-ref --sort='-authordate' --format=\"%(authordate)%09%(objectname:short)%09   %(refname)\" refs/heads | sed -e 's-refs/heads/--' | sed \"s/\\(.*\\)  \\($(git rev-parse --abbrev-ref HEAD)\\)\\(.*\\)/$(echo \"\\033[32m\")\\1* \\2\\3$(echo \"\\033[0m\")/\""
  c = commit
  ch = checkout
  a = add -p
  #http://stackoverflow.com/questions/8483041/git-color-words-excluding
  dw = diff --color-words='\\w+|[^[:space:]]'
  dcw = diff --cached --color-words='\\w+|[^[:space:]]'
  pom = push origin master
  lg = lg1
  lg1 = lg1-specific --all
  lg2 = lg2-specific --all
  lg3 = lg3-specific --all

  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[gpg]
  format = ssh
[pull]
	rebase = true
[init]
	defaultBranch = main
[credential]
	helper = store
